<!DOCTYPE html>
<html>
<head>
    <title>Uploaded Files</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Uploaded Files</h1>
    <div>
        <h2>Resume</h2>
        <iframe id="resumeIframe" src="{{ resume_url }}" width="70%" height="800px"></iframe>
    </div>
    <div>
        <h2>Job Description</h2>
        <iframe id="jobDescIframe" src="{{ job_desc_url }}" width="70%" height="800px"></iframe>
    </div>

</body>
</html>
